<form id="checkout" action="/order" method="POST">
    <div class="formError"></div>
    <div id="all_products">
        <script type="text/javascript" src="../public/menus-view.js"></script>
    </div>
    <div class="" style="width: 100%;">
        <label>Name&nbsp<input type="text" name="name" value=""></label>
    </div>
    <div class="" style="width: 100%;">
        <label>Phone&nbsp<input type="text" name="phone" value=""></label>
    </div>
    <div class="" style="width: 100%;">
        <label>Address&nbsp<input type="text" name="address" value=""></label>
    </div>
    <div class="" style="width: 100%;">
        <label><input type="submit" value="Submit"></label>
    </div>

</form>